body {
  background-color: #3db2;/*#152d35*/
  margin: 0;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #3E00FF;
  width: 80%;
  font-size: 7rem;
  text-shadow: 3px 0 #000000;
  font-family: 'Orbitron', cursive;
  margin: 30px auto;
}

footer {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  font-family: 'Indie Flower', sans-serif;
}

.container {
  background-color: inherit;
  width: 60%;
  margin: auto;
}

.btn {
  border: 4px solid #000000;
  height: 150px;
  width: 150px;
  margin: 20px;
  border-radius: 25px;
  font-family: Georgia;
  color: #000000;
  font-size: 25px;
  font-weight: bold;
  padding: 10px 10px 10px 10px;
  transition-duration: 0.1s;
}

.btn:hover {
  cursor: pointer;
  transform: scale(0.95);
}

.press {
  opacity: 0.5;
  box-shadow: 5px 5px #ffffff;
}

.z {
  background: url("images/crash.png");
}

.x {
  background: url("images/kick.png");
}

.c {
  background: url("images/snare.png");
}

.v {
  background: url("images/tom1.png");
    background-color: #ffffff ;
}

.b {
  background: url("images/tom2.png");
    background-color: #ffffff ;
}

.n {
  background: url("images/tom3.png");
}

.m {
  background: url("images/tom4.png");
}

